mixin catalog-form(action="https://echo.htmlacademy.ru/courses", method="POST")
  -
    const formData = {
      hobbies: [
        { id: "hobby-gym", name: "hobby", value: "gym", text: "Спортзал" },
        { id: "hobby-hookah", name: "hobby", value: "hookah", text: "Кальян" },
        { id: "hobby-couch", name: "hobby", value: "couch", text: "Диван" }
      ],
      music: [
        { id: "music-rock", name: "music", value: "hard_rock", text: "Тяжелый рок" },
        { id: "music-rap", name: "music", value: "russian_rap", text: "Русский рэп" },
        { id: "music-eurodance", name: "music", value: "eurodance", text: "Евроденс" }
      ],
      food: [
        { id: "food-meat", name: "food", value: "meat_eater", text: "Мясоед" },
        { id: "food-diet", name: "food", value: "healthy_diet", text: "Сидит на ПП" },
        { id: "food-vegan", name: "food", value: "vegan", text: "Веган-сыроед" }
      ],
      transport: [
        { id: "transport-public", name: "transport", value: "plane", text: "Cамолет" },
        { id: "transport-car", name: "transport", value: "car", text: "Машина" },
        { id: "transport-bike", name: "transport", value: "bike", text: "Велосипед" },
        { id: "transport-walk", name: "transport", value: "walk", text: "Пешком" }
      ]
    };
  form.catalog-cards__form.catalog-form(action=action, method=method data-form)
    .catalog-form__title Подберите идеального попутчика
    each category, categoryName in formData
      fieldset.catalog-form__fieldset
        legend.visually-hidden= categoryName === 'hobbies' ? 'Хобби' : categoryName === 'music' ? 'Музыка' : categoryName === 'food' ? 'Еда' : 'Транспорт'
        button.catalog-form__button(type="button", data-button="catalog-form-button",
          class=(categoryName !== 'hobbies' && categoryName !== 'food') ? 'catalog-form__button--is-active' : '')
          span= categoryName === 'hobbies' ? 'Хобби' : categoryName === 'music' ? 'Музыка' : categoryName === 'food' ? 'Еда' : 'Транспорт'
          +icon("arrow-icon", 16, 6)
        .catalog-form__checkbox-wrapper(class= categoryName === "transport" ? "catalog-form__checkbox-wrapper--transport" : '')
          each item, i in category
            label.catalog-form__label(for=item.id)
              input.catalog-form__checkbox.visually-hidden(
                type="checkbox"
                id=item.id
                name=item.name
                value=item.value
                checked=(i === 0 ? true : false))
              if categoryName ===  "transport"
                span.catalog-form__custom-checkbox.catalog-form__custom-checkbox--transport
                  +icon(`${item.value}-icon`, 20, 20)
              else
                span.catalog-form__custom-checkbox
                  +icon("check-icon", 11, 11)
                span.catalog-form__custom-checkbox-text= item.text

    fieldset.catalog-form__fieldset.catalog-form__fieldset--level
      button.catalog-form__button.catalog-form__button--is-active(type="button", data-button="catalog-form-button")
        span Левел
        +icon("arrow-icon", 16, 6)
      .catalog-form__input-container
        .catalog-form__input-wrapper
          label.catalog-form__label(for="min-level")
          input.catalog-form__input(
            type="number"
            id="min-level"
            name="min-level"
            value= 30
              )
          span.catalog-form__input-wrapper-stick
          label.catalog-form__label(for="max-level")
          input.catalog-form__input(
            type="number"
            id="max-level"
            name="max-level"
            value= 80
              )
        .catalog-form__noui-slider-container
          .catalog-form__noui-slider.slider(data-slider="noui-slider")
    button.catalog-form__submit-button(type="submit", data-button="catalog-submint-button") показать
