mixin companions()
  -
    const companionsCards = [
      {
        name: "Таня Фирсова",
        hashTags: "#ЗОЖ #ПП #Фитнес #пляж #авокадо #смузи",
        countriesFlagCheck:["sri-lanka","thai","seychelles"],
        travelIconCheck: ["plane"],
        online: false,
        level:"99",
        photo: "firsova-photo",
      },
      {
        name: "Петя Демин",
        hashTags: "#бургер #бар #футбол #концерт #крафт",
        countriesFlagCheck:["belgium" ,"czech"],
        travelIconCheck: ["plane","car","walk"],
        online: true,
        level:"80",
        photo: "demin-photo",
      },
    ]

    const icons = [
      "plane","car","bike","walk"
    ]

  section.companions
    .container
      .companions__description-wrapper
        h2.companions__title.main-title Попутчики
        p.companions__description
          | Все мы&nbsp;индивидуальны и&nbsp;у&nbsp;каждого свой взгляд на&nbsp;идеальный отдых.
          br
          |  Одному нужен пляж и&nbsp;коктейль, а&nbsp;другому маршрут для хайкинга.
        p.companions__sub-description Теперь можно легко найти единомышленников!
        +btn({
          href: "#",
          text:"Показать всех"}).companions__link

      ul.companions__list
        each companion in companionsCards
          li.companions__cards-item
            a(href="#").companions-card
              +adaptivePicture({
                path:"content/companions",
                imageBaseName: companion.photo,
                width: 285,
                height: 285,
                hasTablet:false,
                hasMobile:true,
                mobileWidth: 270,
                mobileHeight: 270,
                alt:`${companion.name} - фотография`
                })
              .companions-card__flags-container
                each flag in companion.countriesFlagCheck
                  +img("content/flags", `${flag}-flag`, "webp", 35, 24, "")
              .companions-card__title-wrapper
                if (companion.online === true)
                  span.companions-card__online.companions-card__online--true
                else
                  span.companions-card__online
                h3.companions-card__title!=companion.name
              p.companions-card__description!=companion.hashTags

              .companions-card__icons-wrapper
                each icon in icons
                  - const isChecked = companion.travelIconCheck.includes(icon)
                  if isChecked
                    +icon(`${icon}-icon`, 25, 25).companions-card__icon.companions-card__icon--checked
                  else
                    +icon(`${icon}-icon`, 25, 25).companions-card__icon
