mixin registration()
  section.registration
    .container
      h2.registration__title Заинтересовались?
      p.registration__description
        | Зарегистрируйтесь, это быстро и&nbsp;бесплатно!
        br
        | &nbsp;Уже зарегистрированы?
        br
        |  Тогда скорее&nbsp;
        br
        a.registration__description-link(href="#")
          | авторизуйтесь
        |.
      .registration__input-wrapper(data-el="registration")
        +custom-input({
          inputPlaceholder: "E-mail",
          inputType: "email",
          inputName:"registration-input"
        })
        +btn({
          tag:"button",
          text:"Регистрация"},
          )(aria-label="Зарегистрироваться").registration__submit-button
      p.registration__subdescription Остались вопросы? Мы&nbsp;с&nbsp;радостью на&nbsp;них ответим!
      .registration__buttons-wrapper
        a.registration__link(
          href="tel:+78005558628",
          aria-label="Позвонить 8 800 555-86-28",
          title="Позвонить нам")
          span.registration__link-icon-container
            +icon("phone", 36, 34)
          span 8 800 555-86-28
        a.registration__link(
          href="mailto:mail@htmlacademy.ru",
          aria-label="написать mail@htmlacademy.ru",
          title="Написать нам")
          span.registration__link-icon-container
            +icon("mail", 47, 50)
          span mail@htmlacademy.ru
