mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "about.html",
        text: "о сервисе"
      },
      {
        href: "directions.html",
        text: "направления"
      },
      {
        href: "companions.html",
        text: "попутчики"
      },
    ]

  header.header(class=headerMods)
    .container

      if(currentUrl === "index.html")
        span.header__logo.logo
          img(src="../../../img/svg/logo.svg", width="200", height="50", alt="Логотип Погнали")
          span.logo-description
            +icon("logo-text", 133, 25 )
      else
        a.header__logo.logo(href="index.html", aria-label="Переход на главную")
          img(src="../../../img/svg/logo.svg", width="200", height="50", alt="Логотип Погнали")
          span.logo-description
            +icon("logo-text", 133, 25 )

      nav.main-nav.header__nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        ul.main-nav__list
          each link in headerLinks
            - const activeState = currentUrl === link.href
            li.main-nav__item
              if(activeState)
                span.main-nav__link.is-active= link.text
              else
                a.main-nav__link(href=link.href)= link.text

      ul.header__contacts-list
        li.header__contacts-list-item
          a.header__contacts-link(
            href="tel:+78005558628",
            aria-label="Позвонить 8 800 555-86-28",
            title="Позвонить нам")
              +icon("header-phone", 18, 18)
        li.header__contacts-list-item
          a.header__contacts-link(
            href="mailto:example@mail.com",
            aria-label="Написать на example@mail.com",
            title="Написать на example@mail.com")
              +icon("header-mail", 18, 18)
