mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "about.html",
        text: "о сервисе"
      },
      {
        href: "directions.html",
        text: "направления"
      },
      {
        href: "companions.html",
        text: "попутчики"
      },
    ]

  header.header(class=headerMods)
    .container

      if(currentUrl === "index.html")
        span.header__logo
          +img("svg", "logo", "svg", 200, 50, "Логотип Погнали")
          span.header__logo-description погнали?
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +img("svg", "logo", "svg", 200, 50, "Логотип Погнали")
          span.header__logo-description погнали?

      nav.main-nav.header__nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
      .header__contacts-buttons-wrapper
        ul.header__contacts-list
          li.header__contacts-list-item
            a.header__contacts-tel(
              href="tel:89999999999",
              aria-label="Позвонить 89999999999",
              title="Позвонить 89999999999")
                +img("sprite", "phone", "svg", 18, 18, "иконка телефона")
          li.header__contacts-list-item
            a.header__contacts-mailto(
              href="mailto:example@mail.com",
              aria-label="Написать на example@mail.com",
              title="Написать на example@mail.com")
                +img("sprite", "email", "svg", 18, 18, "иконка почты")
